# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller
build/
dist/
*.spec

# Executables
*.exe

# OS
.DS_Store
Thumbs.db

# Archivos generados/temporales del proyecto
combined_code.txt
void/

# O si solo querés excluir 0.txt:
void/0.txt